.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
}

.thumbnailContainer:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  display: block;
  margin: auto;
}

.titleContainer {
  background-color: #31383f;
  color: white;
  text-align: right;
  padding: 5px 15px 5px 0px;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .imgContainer {
    height: 35vw;
  }
}

@media screen and (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
  .imgContainer {
    height: 70vw;
  }
}
