.navbar {
  background-color: #31383f;
  padding: 0.8rem 5%;
  color: white;
  display: flex;
  justify-content: right;
}

.navbar__link {
  border: 3px solid red;
}

.navbar__list {
  display: flex;
  gap: 1.5rem;
}
