html,
body {
  padding: 0;
  margin: 0;
  font-family: "lato";
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

/* headers */
h1 {
  font-size: 36px;
  font-family: lato;
  margin: 0px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: lato;
}

.body {
  font-size: 18px;
  font-family: poppins;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #31383f;
  cursor: pointer;
  font-size: 16px;
  font-family: lato;
}

.btn--icon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto;
}

.btn--dark {
  background-color: #31383f;
  color: white;
}

.btn--light {
  background-color: white;
  border: 1px solid #31383f;
}

.hover--light-blue:hover {
  color: #abcdeb;
  transition: color 0.5;
}

.link {
  color: #0070d8;
}

.titleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 20px;
}
